<!--- Testing Section for app  -->

<div class="container">

  <div id="left">


  </div>

  <div>
    <h1>Baby Stamp</h1>
    <div class="row">
      <h3>Create your Stamp!</h3>
    </div>


    <div id="right">



    </div>

    <div>
      <ul class="list-group stamp-list">
        <li class="list-group-item new-item">
          <form id="stamp-form">
            <input class="new-item" placeholder="Add a Stamp!" type="text" />
            <button type="submit">Create Stamp</button>
          </form>
          <span class="stamp-container">
          </span>
      </ul>
    </div>
  </div>

</div>