<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Baby Stamp</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="#">Navbar Link</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        <a href="#">Navbar Link</a>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>

<!--- Testing Section for app  -->


<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <h1 class="header center">Baby Stamp</h1>
    <div class="row center">
      <h5 class="header col s12 light">Your collection of important moments!</h5>
    </div>
    <div class="row center">
      <ul class="list-group stamp-list">
        <li class="list-group-item new-item">
          <form id="stamp-form">
            <input class="new-item" placeholder="Add a Stamp!" type="text" />
            <button type="submit" class="btn-large waves-effect waves-light blue">Create Stamp</button>
          </form>
        </li>
        <br>
        <span class="stamp-container">
        </span>
      </ul>
      <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a> -->
    </div>
    <br>
    <br>

  </div>
</div>
<!--- Testing Section END  -->

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">snooze</i>
          </h2>
          <h5 class="center">Stamp Collection One</h5>

          <p class="light">Show history of stamps in collection here, maybe build the function to edit and change the contents within this
            list?
          </p>
        </div>
      </div>
    </div>

  </div>
</div>