<!--- Testing Section for app  -->

<div class="container">

  <div id="left">


  </div>

  <div>
    <div id="profile-pic">
      Awesome user photo here
    </div>
    <div id="current-user">
      Mother of Dragons
    </div>

    <div id="activity-log">
        activity log:
    </div>
    
    <div id="right">


    </div>

    

    <div>
      <p id="activityheader">Create your Stamp</p>
      <ul class="stamp-list" style="list-style: none;">
        <li class="list-group-item new-item">
          <form id="stamp-form">
            <input class="new-item" placeholder="enter activity" type="text"/>
            <button id="submit-act" type="submit">submit</button>
          </form>
          <span class="stamp-container">
          </span>
      </ul>
    </div>
  </div>

</div>